body{
    height: 100vh;
    width: 100%;
    max-width: 1940px;
    
}

.landingpage-content{
    height: 100vh;
    width: 100%;
    max-width: 1940px;

    background: linear-gradient(60deg,#1C1C1C 20%,#08463B);
    display: flex;
    align-items: center;
    justify-content: center;
    

    h1{
        color: rgba(217, 217, 217, 1);
        font-size: 128px;
        font-weight: 700;
        font-style: bold;
        letter-spacing: -2%;
        line-height: 128px;
    }

}
