body{
    height: 100vh;
    width: 100%;
    max-width: 1940px;
    
}

.landingpage-content{
    height: 100vh;
    width: 100%;
    max-width: 1940px;

    background: linear-gradient(60deg,#1C1C1C 20%,#08463B);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .headline-content{
        height: 268px;
        width: 755px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            color: rgba(217, 217, 217, 1);
            font-size: 100px;
            font-weight: 700;
            font-style: bold;
            letter-spacing: -2%;
            line-height: 128px;
        }
        h3{
            font-size: 40px;
            color: #ffffff;
            font-weight: 400;

        }
        .nav-btn{
            height: 48px;
            width: 363px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 48px;
        }
        button{
            height: 48px;
            width: 172px;
            color: #ffffff;
            background: transparent;
            border: 1px solid #ffffff;
            border-radius: 100px;
            &:hover{
                cursor: pointer;
            }
        }  
    }
    
    .lateral-space{
        position: fixed;
        bottom: 0;
        width: 85%;
        height: 480px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border: 1px solid white;

    }
    .left-lateral{
        //position: fixed;
        //bottom: 0;
        //left: 96px;
        width: 30px;
        height: 312px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .scroll-down{
            height: 48px;
            width: 30px;
            background: transparent;
            border: 1px solid #3DCFB6;
            border-radius: 32px;
        }
        .green-line{
            width: 1px;
            height: 240px;
            background-color:  #3DCFB6;
        }
    }
    .right-lateral{
        //position: fixed;
        //bottom: 0;
        //left: 1312px;
        height: 480px;
        width: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .mail{
            writing-mode: vertical-lr;
            text-orientation: mixed;
            height: auto;
            width: 22px;
            color: #ffffff;
            //rotate: -90deg;
        }

        img{
            height: 32px;
            width: 32px;
        }
        .white-line{
            height: 186px;
            width: 1px;
            background-color: #ffffff;
        }
    }

    

}
