
$breakpoint-731: 731px;
$breakpoint-710: 710px;
$breakponint-485: 485px;
$breakpoint-392: 392px;;

$breakpoint-notebook: 600px;
$breakpoint-IphoneSe: 667px;
$breakpoint-Iphone11: 684px;
$breakpoint-GalaxyS8: 740px;
$breakpoint-IphoneXR: 896px;
$breakpoint-Iphone12: 844px;
$breakpoint-Iphone14: 932px;
$breakpoint-GalaxyA51: 914px;
$breakpoint-IpadMini: 1024px;
$breakpoint-IpadAir: 1180px;
$breakpoint-AsusZenbook: 1280px;
$breakpoint-IpadPro: 1366px;
$breakpoint-4K: 3800px;
$breakpoint-smartphoneQuer: 430px;

@mixin width731{
    @media (max-width: #{$breakpoint-731}){@content;}
}
@mixin width710{
    @media(max-width: #{$breakpoint-710}){@content}
};
@mixin width485{
    @media (max-width: #{$breakponint-485}){@content;}
}
@mixin width392{
    @media (max-width: #{$breakpoint-392}){@content}
};

@mixin height600{
    @media (max-height: #{$breakpoint-notebook}){@content}
};
@mixin height667{
    @media (max-height: #{$breakpoint-IphoneSe}){@content}
};
@mixin height684{
    @media (max-height: #{$breakpoint-Iphone11}){@content}
};
@mixin height740{
    @media (max-height: #{$breakpoint-GalaxyS8}){@content}
};
@mixin height896{
    @media (max-height: #{$breakpoint-IphoneXR}){@content}
};
@mixin height844{
    @media (max-height: #{$breakpoint-Iphone12}){@content}
};
@mixin height932{
    @media (max-height: #{$breakpoint-Iphone14}){@content}
};
@mixin height914{
    @media (max-height: #{$breakpoint-GalaxyA51}){@content}
};
@mixin height1024{
    @media (max-height: #{$breakpoint-IpadMini}){@content}
};
@mixin height1180{
    @media (max-height: #{$breakpoint-IpadAir}){@content}
};
@mixin height1280{
    @media (max-height: #{$breakpoint-AsusZenbook}){@content}
};
@mixin height1366{
    @media (max-height: #{$breakpoint-IpadPro}){@content}
};
@mixin height3800{
    @media (max-height: #{$breakpoint-4K}){@content}
};
@mixin heightQuer{
    @media (max-height: #{$breakpoint-smartphoneQuer}){@content}
};



$font: 'FiraCode';
$Karla: 'Karla';

.navbar-wrapper{
    width: 85%;
    height: 98px;
    max-width: 1920px;
    display: flex;
    .navbar{
        width: 100%;
    }
}
.landingpage-content{
    height: 100dvh;
    width: 100%;
    max-width: 1920px;

    //background: linear-gradient(60deg,#1C1C1C 20%,#08463B);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    
    .headline-content{
        height: 268px;
        width: clamp(320px,755px, 100%);
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
        @include width392{
            width: auto;
        }
        @include height844{
            margin-bottom: 150px;
        }
        @include height684{
            margin-bottom: 180px;
        }
        @include heightQuer{
            margin-bottom: 0;
            justify-content: flex-start;
            gap: 20px;
        }
        

        h1{
            color: rgba(217, 217, 217, 1);
            font-family: $font;
            font-size: clamp(24px, 90px, 100px);
            font-weight: 700;
            font-style: bold;
            letter-spacing: -2%;
            line-height: 128px;
            @include width731{
                font-size: 60px;
                font-weight: 400;
            }
            @include width485{
                font-size: 48px;
            }
            @include width392{
                font-size: 32px;
                line-height: 95px;
            }
            @include heightQuer{
                font-size: 38px;
                height: 38px;
                line-height: 100%;
            }
           
        }
        h3{
            font-family: $font;
            font-size: 40px;
            color: #ffffff;
            font-weight: 400;
            @include width731{
                font-size: 24px;
                font-weight: 200;
            }
            @include width392{
                font-size: 20px;
            }
            @include heightQuer{
                font-size: 25px;
            }

        }
        .nav-btn{
            height: 48px;
            width: 363px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 48px;
            @include width392{
                gap: 12px;
                width: auto;
            }
        }
        .link-as-btn{
            text-decoration: none;
            height: 48px;
            width: 172px;
            background: transparent;
            border: 1px solid #ffffff;
            border-radius: 100px;
            padding-left: 12px;
            overflow-x: hidden; 
            display: flex;
            justify-content: flex-start;
            align-items: center; 
           
                  
            &:hover{
                cursor: pointer;
                border-color: #3DCFB6;
            }
            .btn-content-wrapper-one{
                height: 100%;
                width: min-content;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 172px;

               

                .btn-content{
                    height: 22px;
                    width: 131.81px;
                    color: #ffffff;
                    font-family: $Karla;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 120%;
                    flex-shrink: 0;
                    text-align: center;
                    
                    p{
                        
                        white-space: nowrap;
                    }
                }
                &:hover {
                    animation: btn-spin-one 3s infinite linear;
                    p{
                        color: #3DCFB6;
                    }
                }
               
               
            }
            .btn-content-wrapper-two{
                height: 100%;
                width: min-content;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-left: 16px;
                gap: 172px;

                &.lang-padding{
                    //padding-left: 30px;
                    @include height914{
                        //padding-left: 16px ;
                    }
                }
                
                

               
                .btn-content{
                    height: 22px;
                    width: 98.25px;
                    color: #ffffff;
                    font-family: $Karla;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 120%;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    p{
                        white-space: nowrap;
                    }
                    @include width392{
                        display: flex;
                        justify-content: center;
                    }
                    @include height932{
                        display: flex;
                        justify-content: center;
                    } 
                }
                &:hover .btn-content{
                    animation: btn-spin-two 3s infinite linear;
                    p{
                        color: #3DCFB6;
                    }   
                }
            }
        }
       
        
    }
    @keyframes btn-spin-one {
        from {transform: translateX(0);}
        to {transform: translateX(-304px);}
    } 
    @keyframes btn-spin-two {
        from {transform: translateX(0);}
        to {transform: translateX(-270px);}
    }   
    
    .lateral-space{
        position: absolute;
        bottom: 0;
        width: 85%;
        height: 480px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 1920px;
        @include height932{
            //bottom: -20%;
            height: 250px;
        }
        @include heightQuer{
            bottom: -35%;
        }

    }
    .left-lateral{
        width: 30px;
        height: 312px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
       
        @include height932{
            //height: 340px;
            height: 35dvh;
        }
        @include height684{
            //height: 280px;
            height: 35dvh;
        }
        @include height667(){
            //height: 248px;
            height: 35dvh;
        }
        @include heightQuer{
            height: 60dvh;
        }

        .scroll-down{
            height: 48px;
            width: 30px;
            background: transparent;
            border: 1px solid #3DCFB6;
            border-radius: 32px;

            .arrow{
                height: 100%;
                width: 100%;
                background-image: url(./../../../public/assets/img/Vector\ 8.png);
                background-position: center;
                background-size: 8px;
                background-repeat: no-repeat;
            
                animation: bounce 2s infinite ease-in-out
                

            }
            @keyframes bounce {
                0% {transform:  translateY(0);}
                50% {transform: translateY(20%)}
                100% {transform:  translateY(0);}
            }
        }
        .green-line{
            width: 1px;
            height: 240px;
            background-color:  #3DCFB6;
            
            @include height932{
                height: inherit;
            }
        }
    }
    .right-lateral{
        //height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        @include height667{
            gap: 16px;
        }
        @include heightQuer{
            height: 60dvh;
        }

        .mail-wrapper{
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            font-family: $font;
            font-weight: 400;
            font-size: 14px;//18px
            line-height: 120%;
           
            .mail{
                color: #ffffff;
                text-decoration: none;
                &:hover{
                    color: #3DCFB6;
                }
                @include width710{
                    display: none;
                }
                @include height1024{
                    display: none;
                }
                @include height1180{
                    display: none;
                }
            }
        }
        a{
            width: 45px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;
            padding-left: 6px;
            


            .mail-responsiv{
                height: 28px;
                width: 32px;
                display: none;
                @include width710{
                    display: block;
                }
                @include height1024{
                    display: block;
                }
                @include height1180{
                    display: block;
                }
            }

            img{
                height: 32px;
                width: 32px;
            }
            .nav-hover{
                
                height: 6.4px;
                width: 6.4px;
                background-color: #3DCFB6;
                border-radius: 50%;
                padding-right: 6px;
            }
            .d-none{
                display: none;
            }
            &:hover .d-none{
                display: block;
            }
        }
        .white-line{
            height: 186px;
            width: 1px;
            background-color: #ffffff;
            @include height932(){
                height: 15dvh;
            }
            @include heightQuer{
                height: 100%;
            }
          
        }
    }

    .carousel{
        position: relative;
        bottom: -362px;
        z-index: 1 !important;
        height: 62px;
        width: 110dvw !important;
        rotate: -2.5deg;
        background-color: #FFFFFF1F;
        backdrop-filter: blur(5.3px);
        -webkit-backdrop-filter: blur(5.3px);
        opacity: 0.8;
        
        overflow-x: hidden;
        @include height3800{
            bottom: -36%;
        }
        @include height1366{
            bottom: -29%;
        }
        @include height1280{
            bottom: -30%
        }
        @include height1180{
            bottom: -26%;
        }
        @include height1024{
            bottom: -20%;
        }
        @include height932{
            bottom: -24%;//-24%
        }
        @include height896{
            bottom: -22%;
        }
        @include height844{
           bottom: -14%; 
        }
        @include height740{
            bottom: -9%;
        }
        @include height667{
           bottom: 0;
        }
        @include height600{
            bottom: 3.5%;
        }
        @include heightQuer{
            bottom: -15%;
        }
        
       
        .carousel-wrapper{
            height: 100%;
            width: max-content;
            flex-wrap: nowrap;
            animation: spin 10s infinite linear;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0;
            will-change: transform;

            .carousel-elements{
                height: 38px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 56px;
                padding-right: 56px;
                flex-shrink: 0;
                //border: 1px solid blue;
                
                
                .c-content{ 
                    flex-shrink: 0;
                    height: 100%;
                    width: auto;
                    color: #3DCFB6;
                    font-size: 32px;
                    font-weight: 400;
                    font-family: $Karla;
                    letter-spacing: 0%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    p{
                        white-space: nowrap;
                    }
                }
                .point{ 
                    flex-shrink: 0;
                    height: 6.4px;
                    width: 6.4px;
                    background-color: #3DCFB6;
                    border-radius: 50%;
                }

            }
        }
        @keyframes spin {
            from {transform: translateX(0);}    //from {translate: 0;}
            to {transform:translateX(var(--distance, -2036.5px));}   // english = -1559.5px deutsch = -2036.5px
            // Dokumenation erstellen !!!!!!
        }
        
    }
    .carousel::-webkit-scrollbar{
        display: none;
    }

    

}


@media (max-width: 392px){
    

    .btn-one{
        width: 145px !important;
        padding-left: 6px !important;
    }
    .btn-two{
        width: 138px !important;
        .btn-content-wrapper-two{
            padding-left: 6px !important;
        }
    }
    
   
}