body{
    height: 100vh;
    width: 100%;
    max-width: 1940px;

    
}

$font: 'FiraCode';
$Karla: 'Karla';

.landingpage-content{
    height: 100vh;
    width: 100%;
    max-width: 1940px;

    background: linear-gradient(60deg,#1C1C1C 20%,#08463B);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .headline-content{
        height: 268px;
        width: 755px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            color: rgba(217, 217, 217, 1);
            font-family: $font;
            font-size: 90px;
            font-weight: 700;
            font-style: bold;
            letter-spacing: -2%;
            line-height: 128px;
        }
        h3{
            font-family: $font;
            font-size: 40px;
            color: #ffffff;
            font-weight: 400;

        }
        .nav-btn{
            height: 48px;
            width: 363px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 48px;
        }
        button{
            height: 48px;
            width: 172px;
            background: transparent;
            border: 1px solid #ffffff;
            border-radius: 100px;
            overflow-x: hidden; 
            display: flex;
            justify-content: center;
            align-items: center;          
            &:hover{
                cursor: pointer;
                border-color: #3DCFB6;
            }
            .btn-content-wrapper-one{
                height: 100%;
                width: min-content;
                display: flex;
                flex-direction: row;
                align-items: center;
                transform: translateX(115px);
                transition: transform 0.3s ease;
                gap: 100px;

                .btn-content{
                    color: #ffffff;
                    font-family: $Karla;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 120%;
                    flex-shrink: 0;
                    p{
                        white-space: nowrap;
                    }
                }
                &:hover .btn-content{
                    color: #3DCFB6;
                    animation: btn-spin 2s infinite linear;   
                }
            }
            .btn-content-wrapper-two{
                height: 100%;
                width: min-content;
                display: flex;
                flex-direction: row;
                align-items: center;
                transform: translateX(85px);
                transition: transform 0.3s ease;
                gap: 70px;

                .btn-content{
                    color: #ffffff;
                    font-family: $Karla;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 120%;
                    flex-shrink: 0;
                    p{
                        white-space: nowrap;
                    }
                }
                &:hover .btn-content{
                    color: #3DCFB6;
                    animation: btn-spin 2s infinite linear;   
                }
            }
        }
        @keyframes btn-spin {
            from {translate: 0;}
            to {translate: -200%;}
        }  
    }
    
    .lateral-space{
        position: absolute;
        bottom: 0;
        width: 85%;
        height: 480px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        //border: 1px solid white;

    }
    .left-lateral{
        //position: fixed;
        //bottom: 0;
        //left: 96px;
        width: 30px;
        height: 312px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .scroll-down{
            height: 48px;
            width: 30px;
            background: transparent;
            border: 1px solid #3DCFB6;
            border-radius: 32px;

            .arrow{
                height: 100%;
                width: 100%;
                background-image: url(./../../../public/assets/img/Vector\ 8.png);
                background-position: center;
                background-size: 8px;
                background-repeat: no-repeat;
            
                animation: bounce 2s infinite ease-in-out
                

            }
            @keyframes bounce {
                0% {transform:  translateY(0);}
                50% {transform: translateY(20%)}
                100% {transform:  translateY(0);}
            }
        }
        .green-line{
            width: 1px;
            height: 240px;
            background-color:  #3DCFB6;
        }
    }
    .right-lateral{
        //position: fixed;
        //bottom: 0;
        //left: 1312px;
        height: 480px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .mail-wrapper{
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            font-family: $font;
            font-weight: 400;
            font-size: 14px;//18px
            line-height: 120%;
           
            .mail{
                color: #ffffff;
                text-decoration: none;
                &:hover{
                    color: #3DCFB6;
                }
            }
        }

        

        img{
            height: 32px;
            width: 32px;
        }
        .white-line{
            height: 186px;
            width: 1px;
            background-color: #ffffff;
        }
    }

    .carousel{
        position: absolute;
        bottom: 42px;
        left: -21px;
        z-index: 1 !important;
        height: 62px;
        width: 100%;//1990
        rotate: -2.5deg;
        background-color: #FFFFFF1F;
        backdrop-filter: blur(5.3px);
        -webkit-backdrop-filter: blur(5.3px);
        opacity: 0.8;
        
        overflow-x: hidden;
        .carousel-wrapper{
            height: 100%;
            width: max-content;
            animation: spin 9s infinite linear;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 56px;

            .carousel-elements{
                height: 38px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 56px;
                
                .c-content{ 
                    flex-shrink: 0;
                    height: 100%;
                    width: auto;
                    color: #3DCFB6;
                    font-size: 32px;
                    font-weight: 400;
                    font-family: $Karla;
                    letter-spacing: 0%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    p{
                        white-space: nowrap;
                    }
                }
                .point{ 
                    flex-shrink: 0;
                    height: 6.4px;
                    width: 6.4px;
                    background-color: #3DCFB6;
                    border-radius: 50%;
                }

            }
        }
        @keyframes spin {
            from {translate: 0;}
            to {translate: -50%;}
        }
        
    }
    .carousel::-webkit-scrollbar{
        display: none;
    }

    

}
