body{
    height: 100vh;
    width: 100%;
    max-width: 1940px;

    
}

$font: 'FiraCode';
$Karla: 'Karla';

.landingpage-content{
    height: 100vh;
    width: 100%;
    max-width: 1940px;

    background: linear-gradient(60deg,#1C1C1C 20%,#08463B);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .headline-content{
        height: 268px;
        width: 755px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            color: rgba(217, 217, 217, 1);
            font-family: $font;
            font-size: 90px;
            font-weight: 700;
            font-style: bold;
            letter-spacing: -2%;
            line-height: 128px;
        }
        h3{
            font-family: $font;
            font-size: 40px;
            color: #ffffff;
            font-weight: 400;

        }
        .nav-btn{
            height: 48px;
            width: 363px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 48px;
        }
        button{
            height: 48px;
            width: 172px;
            background: transparent;
            border: 1px solid #ffffff;
            border-radius: 100px;
            display: flex;
            align-content: center;
            transition: border-color 2s ease;
            //overflow-x: auto;

                       
            &:hover{
                cursor: pointer;
                border-color: #3DCFB6;
            }
            .btn-content{
                flex-grow: 1;
                height: 100%;
                width: 100%;
                color: #ffffff;
                font-family: $Karla;
                transition: color 2s ease, transform 2s ease;
               
            }
            &:hover .btn-content{
                color: #3DCFB6;
                transform: translateX(-100%);    
            }
            //@keyframes spin {
            //    from {translate: 0;}
            //    to {translate: -100%;}
            //}
        }  
    }
    
    .lateral-space{
        position: fixed;
        bottom: 0;
        width: 85%;
        height: 480px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        //border: 1px solid white;

    }
    .left-lateral{
        //position: fixed;
        //bottom: 0;
        //left: 96px;
        width: 30px;
        height: 312px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .scroll-down{
            height: 48px;
            width: 30px;
            background: transparent;
            border: 1px solid #3DCFB6;
            border-radius: 32px;
        }
        .green-line{
            width: 1px;
            height: 240px;
            background-color:  #3DCFB6;
        }
    }
    .right-lateral{
        //position: fixed;
        //bottom: 0;
        //left: 1312px;
        height: 480px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .mail-wrapper{
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            font-family: $font;
            font-weight: 400;
            font-size: 14px;//18px
            line-height: 120%;
           
            .mail{
                color: #ffffff;
                text-decoration: none;
                &:hover{
                    color: #3DCFB6;
                }
            }
        }

        

        img{
            height: 32px;
            width: 32px;
        }
        .white-line{
            height: 186px;
            width: 1px;
            background-color: #ffffff;
        }
    }

    .carousel{
        position: fixed;
        bottom: 42px;
        left: -21px;
        z-index: 1 !important;
        height: 62px;
        width: 1990px;
        rotate: -2.5deg;
        //background-color: aliceblue;
        background-color: #FFFFFF1F;
        backdrop-filter: blur(5.3px);
        -webkit-backdrop-filter: blur(5.3px);
        //background: blur 5.3;
        opacity: 0.8;
        
    }

    

}
