$breakpoint-1220: 1220px;
$breakpoint-710: 710px;
$breakpoint-600: 600px;
$breakpoint-400: 400px;
$breakpoint-360: 360px;

$breakpoint-IphoneSe: 667px;
$breakpoint-IphoneXR: 896px;
$breakpoint-Iphone12: 844px;
$breakpoint-Iphone14: 932px;
$breakpoint-IpadAir: 1180px;

@mixin width1220{
    @media (max-width: #{$breakpoint-1220}){@content;}
}
@mixin width710{
    @media (max-width: #{$breakpoint-710}){@content;}
}
@mixin width600{
    @media (max-width: #{$breakpoint-600}){@content;}
}
@mixin width400{
    @media (max-width: #{$breakpoint-400}){@content;}
}
@mixin width360{
    @media (max-width: #{$breakpoint-360}){@content;}
}
@mixin IphoneSE{
    @media (max-height: #{$breakpoint-IphoneSe}){@content;}
}
@mixin IphoneXR{
    @media (max-height: #{$breakpoint-IphoneXR}){@content;}
}

@mixin Iphone12{
    @media (max-height: #{$breakpoint-Iphone12}){@content}
};
@mixin Iphone14{
    @media (max-height: #{$breakpoint-Iphone14}){@content}
};
@mixin IpadAir{
    @media (max-height: #{$breakpoint-IpadAir}){@content}
};


$font: 'FiraCode';
$Karla: 'Karla';

.about-me-content{
    height: auto;//1300
    width: 100%;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    
    .who-i-am{
        height: 708px;
        width: 100%;//1232px
        max-width: 1920px;
        //border: 1px solid white;
        margin-top: 200px;
        margin-bottom: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @include width1220{
            flex-direction: column;
            height: auto;
            align-items: center;
        }
        //@include IphoneSE{
        //    margin-top: 100px;
        //    margin-bottom: 100px;
        //} 
        //@include IphoneXR{
        //    margin-top: 100px;
        //    margin-bottom: 100px;
        //}
        //@include Iphone14{
        //    margin-top: 100px;
        //    margin-bottom: 100px;
        //}
        @include IpadAir{
            margin-top: 100px;
            margin-bottom: 100px;
        }
        

        .photo-wrapper{
            height: 100%;
            width: 568px;
            //border: 1px solid red;
            @include width600{
                width: 95%;
                padding-left: 8px;
                padding-right: 8px;
            }

            .photo{
                height: 568px;
                width: 100%;
                border-radius: 30px;
                border: 1px solid green;

                .background-lines{
                    position: relative;
                    bottom: -30px;
                    left: -40px;
                    height: 100%;
                    width: 100%;
                    max-height: 568px;
                    max-width: 568px;
                    border-radius: 30px;
                    background: repeating-linear-gradient(45deg, #3DCFB6 0px, #3DCFB6 1px, transparent 1px, transparent 26px);
                    @include width710{
                        display: none;
                    }
                }
                .photo-content{
                    position: relative;
                    top: -566px;

                    height: 100%;
                    width: 100%;
                    background-image: url(/assets/img/Photos/raphael.png);
                    background-position: center;
                    background-size: cover;
                    border-radius: 30px;

                    @include width710{
                        position: block;
                        top: 0;
                    }
                }
            }
        }
        
        .description-wrapper{
            margin-top: 50px;
            height: 100%;
            width: 568px;
            //border: 1px solid red;
            display: flex;
            align-items: flex-end;
            @include width600{
                height: auto;
                width: 95%;
                padding-left: 8px;
                padding-right: 8px;
            }

           
           

            .personal-description{
                height: 628px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                @include width600{
                    height: auto;
                }
                h3{
                    font-family: $Karla;
                    font-size: 24px;
                    font-weight: 500;
                    font-style: medium;
                    color: #3DCFB6;
                    margin-top: 20px;
                }
                .about-me{
                    height: 600px;
                    width: 100%;
                    border: 1px solid #3DCFB6;
                    background-color: rgb(31, 46, 43);
                    border-radius: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 16px;
                    //justify-content: center;
                    gap: 32px;
                    @include width600{
                        gap: 20px;
                        
                    }
                    @include width400{
                        justify-content: flex-start;
                    }
                    @include width360{
                        height: 700px;
                    }
                    @include IphoneXR{
                        //padding-top: 16px;
                        justify-content: normal;
                    }

                    .headline-wrapper{
                        height: 64px;
                        width: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        @include width400{
                            height: auto;
                        }
                        //@include width360{
                        //    margin-top: 8px;
                        //}
                        //@include IphoneSE{
                        //    padding-top: 16px;
                        //}
                        @include IphoneXR{
                           padding-top: 16px;
                            
                        }

                        h1{
                            color: #3DCFB6;
                            font-size: 64px;
                            font-family: $font;
                            @include width710{
                                font-size: 56px;
                            }
                            @include width600{
                                font-size: 56px;
                            }
                            @include width400{
                                font-size: 38px;
                            }
                            @include IphoneXR{
                                font-size: 40px;
                            }
                        }
                    }
                    .personal-presentation{
                        height: 88px;
                        width: 80%;
                        color: #FFFFFF;
                        font-family: $Karla;
                        font-size: 16px;
                        font-weight: 400;
                        @include width600{
                            font-size: 14px;
                            font-weight: 200;
                        }
                        @include width400{
                            height: auto;
                            //margin-bottom: 20px;
                        }
                        
                    }
                    .personal-matrix{
                        height: 252px;
                        width: 504px;
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        @include width600{
                            width: 80%;
                        }
                        @include width400{
                            height: auto;
                        }

                        .matrix-wrapper{
                            display: flex;
                            gap: 12px;

                            p{
                                color: #FFFFFF;
                                font-size: 16px;
                                font-weight: 400;
                                font-family: $Karla;
                                @include width600{
                                    font-size: 14px;
                                    font-weight: 200;
                                }
                            }
                        }
                    }

                   
                }
               
            }

        }
    }
}