$font: 'FiraCode';
$Karla: 'Karla';

.about-me-content{
    height: auto;//1300
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    
    .who-i-am{
        height: 708px;
        width: 1232px;
        //border: 1px solid white;
        margin-top: 200px;
        margin-bottom: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .photo-wrapper{
            height: 100%;
            width: 568px;
            //border: 1px solid red;

            .photo{
                height: 568px;
                width: 100%;
                border-radius: 30px;
                border: 1px solid green;
            }
        }
        
        .description-wrapper{
            height: 100%;
            width: 568px;
            //border: 1px solid red;
            display: flex;
            align-items: flex-end;

           
           

            .personal-description{
                height: 588px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                h3{
                    font-family: $Karla;
                    font-size: 24px;
                    font-weight: 500;
                    font-style: medium;
                    color: #3DCFB6;
                    margin-top: 20px;
                }
                .about-me{
                    height: 540px;
                    width: 100%;
                    border: 1px solid #3DCFB6;
                    background-color: rgb(31, 46, 43);
                    border-radius: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .headline-wrapper{
                        height: 64px;
                        width: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        h1{
                            color: #3DCFB6;
                            font-size: 64px;
                            font-family: $font;
                        }
                    }
                    .personal-presentation{
                        height: 372px;
                        width: 80%;
                        color: #FFFFFF;
                        font-family: $Karla;
                        font-size: 18px;
                        font-weight: 400;
                        
                    }

                   
                }
               
            }

        }
    }
}