.container{
    height: 362px;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #1C1C1C;   

    .slider-wrapper{
        position: relative;
        height: 274px;
        width: 100%;
        //max-width: 48rem;
       
        //max-width: 48rem;
        margin: 0;
          
        .slider{
            height: 274px;
            width: 100%;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            //aspect-ratio: 16/9;
            display: flex;
            flex-direction: row;
            gap: 32px;
            padding: 0 10%;
            &::-webkit-scrollbar{
                display: none;
            }  
            .comment{

                flex: 1 0 80%;
                scroll-snap-align: center;
                height: 274px;
                width: 100px;
                background-color: rgb(38, 82, 75);
                border: 1px solid red;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                object-fit: cover;

            }
        }
    }
    
    .slider-nav{
        height: 40px;
        width: 184px;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;

        .btn{
            height: 32px;
            width: 32px;
           
            
            
            &:hover{
                cursor: pointer;
            }
        }
        .next{
            
            background-image: url(/assets/img/arrow_forward.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            &:hover{
                background-image: url(/assets/img/iconizer-arrow_forward.svg);
                transform: translateX(5px);
                transition: 0.5s;
            }
            &:active{
                background-image: url(/assets/img/arrow_forward.svg);
                transform: translateX(-5px);
                transition: 0.2s;
            }
        }
        .prev{
            background-image: url(/assets/img/arrow_back.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            &:hover{
                background-image: url(/assets/img/iconizer-arrow_back.svg);
                transform: translateX(-5px);
                transition: 0.5s;
            }
            &:active{
                background-image: url(/assets/img/arrow_back.svg);
                transform: translateX(5px);
                transition: 0.2s;
            }
        }
        .pagination{
            height: 100%;
            width: auto;
            display: flex;
            align-items: center;
            gap: 20px;
            .elipse{
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: #FFFFFF;

            }
            .active{
                height: 9px !important;
                width: 9px !important;

                background-color: #3DCFB6 !important;
            }
        }
        
    }
}