

$font: 'FiraCode';
$Karla: 'Karla';


.content-wrapper{
    height: 452px;
    width: 100%;
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    h3{
        color: #3DCFB6;
        font-size: 32px;
        font-weight: 700;
        font-family: $font;
    }

   

    swiper-container{
        height: 274px;
        width: 100%;
        
    
        swiper-slide{
            height: 100%;
            width: 85%;
            color: white;
            object-fit: cover;
            display: block;
            border: 1px solid white;
        }
        
            
    }
    

}