

$font: 'FiraCode';
$Karla: 'Karla';


.content-wrapper{
    height: 452px;
    width: 100%;
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    h3{
        color: #3DCFB6;
        font-size: 32px;
        font-weight: 700;
        font-family: $font;
    }

    .slide-wrapper{
        height: 274px;
        width: 100%;
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        gap: 45px;

        .comment{
            height: 100%;
            width: 75%;
            background-color: rgb(38, 82, 75);
        }
    }
   



    //swiper-container{ //.colleagus-swiper{
    //    height: 274px;
    //    width: 100%;
    //    
    //    
    //    
    //    
    //
    //    swiper-slide{
    //        height: 100%;
    //        color: white;
    //        //object-fit: cover;
    //        
    //        
    //        .component{
    //            height: 100%;
    //            width: 100%;
    //            
    //            display: flex;
    //            justify-content: center;
    //            align-items: center;
    //            .test{
    //                height: 100%;
    //                width: 1500px;
    //                background-color: rgb(38, 82, 75);
    //                border-radius: 12px;
//
    //            }
//
    //        }
    //    }
    //    
    //        
    //}
    //.btn-wrapper{
    //    width: 184px;
    //    height: 40px;
    //    display: flex;
    //    flex-direction: row;
    //    justify-content: space-between;
    //    .swiper-btn-prev{
    //        height: 100%;
    //        width: 40px;
    //        
    //    }
    //    .swiper-pagination-dots{
    //        height: 100%;
    //        width: auto;
    //        
    //    }
    //    .swiper-btn-next{
    //        height: 100%;
    //        width: 40px;
    //       
    //    }
    //}
    

}