$font: 'FiraCode';

.overlay-wrapper{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #00000080;
    z-index: 2;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10%;


    .overlay-content{
        position: relative;
        top: 70px;
        height: 252px;
        width: 238px;
        background: linear-gradient(45deg, #1c1c1c 0% 35%, #08463b);
        border: 1px solid #3DCFB6;
        border-radius: 30px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .menu{
            height: 172px;
            width: 84px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 24px;

            a{
                color: #FFFFFF;
                text-decoration: none;
                font-family: $font;
                font-size: 18px;
                font-weight: 200;
                line-height: 100%;
                letter-spacing: -3%;
                white-space: nowrap;
                &:hover{
                    cursor: pointer;
                    color: #3DCFB6;
                }
                
            }

            .change-language-wrapper{
                height: 28px;
                width: 84px;
                border: solid 1px #3DCFB6;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                
                .language{
                    height: 28px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 120%;
                    letter-spacing: 0%;
                    font-family: $font;
                    color: #3DCFB6;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .choosen-language{
                    width: 44px;
                    background-color: #3DCFB6;
                    border-radius: 100px;
                    font-weight: 700;
                    color: #FFFFFF;
                }

            }
        }
        
    }
}