$font: 'FiraCode';
$Karla: 'Karla';



.projects{
    height: 581px;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    //gap: 41px;
    //background-color: rgb(28, 28, 28);
   

    
    

    .project-wrapper{
        height: 565px;
        width: 880px;
        display: flex;
        flex-direction: column;
        //justify-content: flex-start;
        gap: 41px;
        //margin-left: 10%;
       
        .d-none{
            display: none;
        }
        .headline-wrapper{
            height: 112px;
            width: 622px;
            color: #3DCFB6;
            h3{
                font-family: $Karla;
                font-size: 24px;
                font-weight: 700;
            }
            h1{
                font-family: $font;
                font-size: 64px;
                font-weight: 700;
                white-space: nowrap;
            }

        }
        .description{
            height: 44px;
            width: 456px;
            color: #FFFFFF;
            font-family: $Karla;
            font-size: 18px;
            font-weight: 400;
        }
        .portfolio{
            height: auto;
            width: 100%;
            border-top: 1px solid #3DCFB6;
            border-bottom: 1px solid #3DCFB6;

            .seperator{
                height: 1px;
                width: 100%;
                background-color: #3DCFB6;
            }
            .portfolio-projects{
                height: 109px;
                width: 100%;
                color: #FFFFFF;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding-left: 5%;
                padding-right: 5%;

                h2{
                    font-family: $font;
                    font-weight: 700;
                    font-size: 24px;
                }

                .technologies{
                    height: 22px;
                    width: auto;
                    display: flex;
                    flex-direction: row;
                    gap: 4px;
                    font-family: $Karla;
                    font-size: 18px;
                    font-weight: 400;


                    .vertical-seperator{
                        height: 100%;
                        width: 1px;
                        background-color: #3DCFB6;
                    }
                }
                &:hover{
                    cursor: pointer;
                    background-color: rgb(8, 70, 59);
                }
            }
            
        }
    }

    .project-preview{
        
        position: relative;
        height: 530px;
        width: 18%;
        //border: 1px solid red;
        display: flex;
        align-items: flex-end;

        .preview-img{
            //display: none;
            position: absolute;
            height: 240px;
            width: 380px;
            margin-bottom: 60px;
            border-radius: 10px;
            background-size: cover;
            z-index: 1;

        }

        .preview-shadow{
            //display: none;
            position: absolute;
            height: 240px;
            width: 400px;
            margin-bottom: 40px;
            left: 0px;
            border-radius: 10px;
            background: repeating-linear-gradient(-45deg,#3DCFB6 0px,#3DCFB6 1px,transparent 1px,transparent 8px)
        }
    }
    
}

