$breakpoint-1540: 1540px;
$breakpoint-1400: 1400px;

$breakpoint-1220: 1220px;
$breakpoint-950: 950px;
$breakpoint-700: 700px;
$breakpoint-500: 500px;
$breakpoint-420: 420px;

@mixin width1540{
    @media(max-width: #{$breakpoint-1540}){@content}
};
@mixin width1400{
    @media(max-width: #{$breakpoint-1400}){@content}
};
@mixin width1220{
    @media(max-width: #{$breakpoint-1220}){@content}
};
@mixin width950{
    @media (max-width:#{$breakpoint-950}){@content}
};
@mixin width700{
    @media (max-width:#{$breakpoint-700}){@content}
};
@mixin width500{
    @media (max-width:#{$breakpoint-500}){@content}
};
@mixin width420{
    @media (max-width:#{$breakpoint-420}){@content}
};

$font: 'FiraCode';
$Karla: 'Karla';



.projects{
    height: 581px;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;

    @include width1540{
        justify-content: flex-start;
        padding-left: 6%;
        gap: 2%;
        
    }
    @include width1400{
        //margin-left: 350px;
        //margin-left: 20%;
    }

    @include width1220{
        display: flex;
        justify-content: center;
        height: auto;
        width: 95%;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 0;
        margin-left: 0;
    }

    .project-wrapper{
        height: 565px;
        width: 880px;
        display: flex;
        flex-direction: column;
        gap: 41px; 
       
        @include width1400{
            //padding-left: 18px;
            //margin-right: 350px;
        }
        @include width1220{
            padding-left: 0;
            margin-right: 0;
        }
        @include width700{
            width: auto;
            height: auto;
            
        }
        .d-none{
            display: none;
        }
        .headline-wrapper{
            height: 112px;
            width: 622px;
            color: #3DCFB6;
            @include width950{
                height: auto;
            }
            @include width700{
                width: auto;
                margin-top: 100px;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
            h3{
                font-family: $Karla;
                font-size: 24px;
                font-weight: 700;
            }
            h1{
                font-family: $font;
                font-size: 64px;
                font-weight: 700;
                white-space: nowrap;
                @include width950{
                    white-space: unset;
                }
                @include width700{
                    font-size: 56px;
                }
                @include width420{
                    font-size: 40px;
                }
            }


        }
        .description{
            height: 44px;
            width: 456px;
            color: #FFFFFF;
            font-family: $Karla;
            font-size: 18px;
            font-weight: 400;
            @include width500{
                margin-top: 20px;
                width: auto;
                font-weight: 200;
                font-size: 16px;
            }
        }
        .portfolio{
            height: auto;
            width: 100%;
            border-top: 1px solid #3DCFB6;
            border-bottom: 1px solid #3DCFB6;

            .seperator{
                height: 1px;
                width: 100%;
                background-color: #3DCFB6;
            }
            .portfolio-projects{
                height: 109px;
                width: 100%;
                color: #FFFFFF;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding-left: 5%;
                padding-right: 5%;

                @include width500{
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 20px;
                }
                h2{
                    font-family: $font;
                    font-weight: 700;
                    font-size: 24px;
                }

                .technologies{
                    height: 22px;
                    width: auto;
                    display: flex;
                    flex-direction: row;
                    gap: 4px;
                    font-family: $Karla;
                    font-size: 18px;
                    font-weight: 400;
                    @include width500{
                        font-weight: 200;
                    }

                    .vertical-seperator{
                        height: 100%;
                        width: 1px;
                        background-color: #3DCFB6;
                    }
                }
                &:hover{
                    cursor: pointer;
                    background-color: rgb(8, 70, 59);
                }
            }
            
        }
    }

    .project-preview{
        
        position: relative;
        height: 530px;
        width: 18%;
        display: flex;
        align-items: flex-end;

        @include width1400{
            display: none;
        }
        .preview-img{
            position: absolute;
            height: 240px;
            width: 380px;
            margin-bottom: 60px;
            border-radius: 10px;
            background-size: 380px 240px;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 1;
        }

        .preview-shadow{
            position: absolute;
            height: 240px;
            width: 400px;
            margin-bottom: 40px;
            left: 0px;
            border-radius: 10px;
            background: repeating-linear-gradient(-45deg,#3DCFB6 0px,#3DCFB6 1px,transparent 1px,transparent 8px)
        }
    }
    
}

