$font: 'FiraCode';
$Karla: 'Karla';



.projects{
    height: 581px;
    width: 100%;
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    .project-wrapper{
        position: relative;
        height: 95%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 41px;
        //margin-left: 13%;
        //margin-top: 8px;

        .top-wrapper{
            height: 40%;
            width: 100%;

            h3{
                color: #3DCFB6;
                font-size: 24px;
                font-family: $Karla;
            }
            h1{
                color: #3DCFB6;
                font-size: 64px;
                font-family: $font;
            }
            p{
                color: #FFFFFF;
                font-size: 18px;
                font-family: $Karla;
            }
        }
        .bottom-wrapper{
            height: 60%;
            width: 100%;
            display: flex;
            flex-direction: row;
            .portfolio{
                height: auto;
                width: 880px;
                display: flex;
                flex-direction: column;
                
                .portfolio-wrapper{
                    height: 109px;
                    width: 100%;
                    border-top: 1px solid #3DCFB6;
                    border-bottom: 1px solid #3DCFB6;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: 5%;
                    padding-right: 5%;
                    &:hover{
                        cursor: pointer;
                        background-color: rgb(33, 82, 72);
                    }
                
                    h2{
                        color: #FFFFFF;
                        font-size: 24px;
                        font-family: $font;
                    
                    }
                    .technologies{
                        height: 22px;
                        width: auto;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 4px;
                    
                        .separator{
                            height: 100%;
                            width: 2px;
                            background-color: #3DCFB6;
                        }

                    }
                }
                .project-preview{
                    height: 250px;
                    width: 250px;
                    border-radius: 5px;
                    border: 1px solid white;
                }
            }
            
        }
    } 
    
}