


.content-wrapper{
    height: auto;
    width: 100%;
    background-color: #1C1C1C;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    .inner-wrapper{
        height: auto;
        width: 1248px;
        //border: 1px solid red;
        display: flex;
        gap: 10%;


        .content-info{
            height: auto;
            width: 568px;
            border: 1px solid blue;

            .info{
                height: 337px;
                width: 568px;
                display: flex;
                flex-direction: column;
                gap: 40px;
                border: 1px solid yellow;

                .headlines{
                    height: 176px;
                    width: 568px;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    color: #3DCFB6;
                }
                .description{
                    height: 121px;
                    width: 568px;
                    h3{
                        color: #3DCFB6;
                    }
                    p{
                        color: #FFFFFF;

                    }

                }
            }
        }
        .user-input{
            height: 550px;
            width: 616px;
            border: 1px solid white;
        }
    }
}