

$font: 'FiraCode';
$Karla: 'Karla';

.content-wrapper{
    height: auto;
    width: 100%;
    background-color: #1C1C1C;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    .inner-wrapper{
        height: auto;
        width: 1248px;
        //border: 1px solid red;
        display: flex;
        gap: 10%;


        .content-info{
            height: auto;
            width: 568px;
            border: 1px solid blue;

            .info{
                height: 337px;
                width: 568px;
                display: flex;
                flex-direction: column;
                gap: 40px;
                border: 1px solid yellow;

                .headlines{
                    height: 176px;
                    width: 568px;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    color: #3DCFB6;
                    h4{
                        font-size: 24px;
                        font-family: $Karla;
                        font-weight: 500;
                        line-height: 100%;

                    }
                    h1{
                        font-family: $font;
                        font-size: 64px;
                        font-weight: 700;
                        line-height: 100%;
                        letter-spacing: -3%;
                    }
                }
                .description{
                    height: 121px;
                    width: 568px;
                    h3{
                        color: #3DCFB6;
                    }
                    p{
                        color: #FFFFFF;

                    }

                }
            }
        }
        .right-content{
            display: flex;
            flex-direction: column;
            gap: 16px;
            .user-input{
                height: 550px;
                width: 616px;
                //border: 1px solid white;

                .seperator{
                    height: 1px;
                    width: 100%;
                    background-color: #3DCFB6;
                }

                .user-content{
                    height: 131px;
                    width: 616px;
                    border-top: 1px solid #3DCFB6;
                    //border-bottom: 1px solid #3DCFB6;
                    color: #FFFFFF;
                    //padding-top: 40px;
                    //padding-bottom: 40px;
                    padding-left: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 16px;

                    h4{
                        font-size: 24px;
                        font-weight: 200;
                        line-height: 120%;
                        font-family: $font;
                        color: #3DCFB6;
                    }

                    input{
                        height: 32px;
                        width: 75%;
                        color: #FFFFFF;
                        font-size: 22px;
                        font-family: $Karla;
                        border: none;
                        background-color: #1C1C1C;
                        //background: 
                        //    linear-gradient(90deg, #3DCFB6,#3DCFB6)left bottom/100% 2px no-repeat,
                        //    linear-gradient(90deg, #1C1C1C, #1C1C1C) left bottom/100% no-repeat;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                        &:focus{
                            outline: none;
                        }

                    }
                    textarea{
                        height: auto;
                        width: 80%;
                        field-sizing: content;
                        border: none;
                        resize: none;
                        border: none;
                        color: #FFFFFF;
                        background-color: #1C1C1C;
                        font-size: 22px;
                        font-family: $Karla;
                        padding: 0;
                        margin-bottom: 8px;
                       //background: 
                       //    linear-gradient(90deg, #3DCFB6,#3DCFB6)left bottom/100% 2px no-repeat,
                       //    linear-gradient(90deg, #1C1C1C, #1C1C1C) left bottom/100% no-repeat;
//  
                        &:focus{
                            //outline: none;
                            border-color: #3DCFB6;
                            outline-color: #3DCFB6;
                            outline-offset: 2px;
                        }
                    }
                

                }
            
            }
            .submit-content{
                height: 117px;
                width: auto;//616px;
                //border: 1px solid white;
                display: flex;
                align-items: center;
                gap: 8px;
                
                .check{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    //gap: 10px;
                    height: 26px;
                    width: 26px;

                    .input-check{
                        position: relative;
                        display: inline-block;
                        height: 26px;
                        width: 26px;
                        border: 4px solid #3DCFB6;
                        background-color: transparent;
                        border-radius: 2px;
                        box-sizing: border-box;
                        transition: box-shadow 0.2s ease-in-out, background-color 0.5s;
                        &:checked + .input-check{
                            border-color: #3DCFB6;
                            
                        }
                        

                    }
                    .checkbox{
                        position: absolute;
                        appearance: none;
                        opacity: 0;
                        height: 26px;
                        width: 26px;
                        top: 0;
                        left: 0;
                        margin: 0;
                        z-index: 10;
                        &:hover{
                            cursor: pointer;
                            background-color: #3DCFB6;
                        }
                    }
                    .checkbox:checked + .input-check:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background-image: url(/assets/img/check-solid-full\ .svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }
                    &:hover{
                        cursor: pointer;
                       
                        .input-check{
                            box-shadow: 0 0 10px 1px rgba(113, 182, 170, 0.7);
                            background-color: #6da29978;
                        }
                       
                        

                    }
                }
                p{
                    color: #FFFFFF;
                    font-size: 15px;
                    font-weight: 400;
                    font-family: $Karla;

                    a{
                        color: #3DCFB6;
                        text-decoration: none;
                        font-size: 15px;
                        font-family: $font;
                        font-weight: 400;
                        line-height: 120%;
                        letter-spacing: -3%;
                        &:hover{
                            color: #FFFFFF;
                            text-decoration: underline;
                            text-decoration-color: #3DCFB6;
                            text-underline-offset: 8px;
                        }
                    }
                        
                }
            }
            .btn-wrapper{
                height: 48px;
                width: 616px;
                display: flex;
                justify-content: center;
            
                button{
                    height: 50px;
                    width: 139px;
                    border-radius: 100px;
                    color: #FFFFFF80 ;
                    overflow-x: hidden;
                    border: 1px solid #FFFFFF50 ;
                    background-color: #1C1C1C;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        cursor: pointer;
                        border-color: #3DCFB6;
                    }


                    .btn-content-wrapper{
                        height: 100%;
                        width: min-content;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        transform: translateX(85px);
                        transition: transform 0.3s ease;
                        gap: 80px;

                        .btn-content{
                            height: 22px;
                            width: 91px;
                            white-space: nowrap;
                            font-size: 18px;
                            font-weight: 400;
                            letter-spacing: 120%;
                            font-family: $Karla;
                            p{
                                white-space: nowrap;
                            }
                            
                        }
                        &:hover .btn-content{
                            color: #3DCFB6;
                            animation: btn-spin 2.5s infinite linear;
                        }
                    }
                }
                @keyframes btn-spin {
                    from {translate: 0;}
                    to {translate: -220%;}
                }  
            }
        }
    }
}