$breakpoint-1400: 1400px;
$breakpoint-650: 650px;
$breakpoint-580: 580px;
$breakpoint-400: 400px;

@mixin width1400{
    @media (max-width: #{$breakpoint-1400}){@content;}
}
@mixin width650{
    @media (max-width: #{$breakpoint-650}){@content;}
}
@mixin width580{
    @media (max-width: #{$breakpoint-580}){@content;}
}
@mixin width400{
    @media (max-width: #{$breakpoint-400}){@content;}
}

$font: 'FiraCode';
$Karla: 'Karla';

.content-wrapper{
    height: auto;
    width: 100%;
    background-color: #1C1C1C;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;

    .inner-wrapper{
        height: auto;
        width: 1248px;
        display: flex;
        gap: 10%;

        @include width1400{
            flex-direction: column;
            align-items: center;
            gap: 64px;
        }
        
        .content-info{
            height: auto;
            width: 568px;
            @include width580{
                width: 100%;
                padding-left: 8px;
                padding-right: 8px;
            }
            @include width400{
                height: 380px;
            }
            

            .info{
                height: 337px;
                width: 568px;
                display: flex;
                flex-direction: column;
                gap: 40px;
                @include width580{
                    width: 95%;
                    gap: 20px;
                }

                .headlines{
                    height: 176px;
                    width: 568px;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    color: #3DCFB6;
                    @include width580{
                        width: auto;
                    }
                    h4{
                        font-size: 24px;
                        font-family: $Karla;
                        font-weight: 500;
                        line-height: 100%;

                    }
                    h1{
                        font-family: $font;
                        font-size: 64px;
                        font-weight: 700;
                        line-height: 100%;
                        letter-spacing: -3%;
                        @include width580{
                            font-size: 45px;
                        }
                        @include width400{
                            font-size: 40px;
                        }
                    }
                    
                }
                .description{
                    height: 121px;
                    width: 568px;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    @include width580{
                        width: auto;
                    }
                    h3{
                        color: #3DCFB6;
                        font-size: 24px;
                        font-family: $font;
                        font-weight: 700;
                        line-height: 120%;
                        @include width400{
                            font-size: 22px;
                        }
                    }
                    p{
                        color: #FFFFFF;
                        font-size: 16px;
                        font-family: $Karla;
                        font-weight: 400;
                        line-height: 120%;
                        letter-spacing: 0;
                        span{
                            color:#3DCFB6 ;

                        }
                        @include width580{
                            font-weight: 200;
                        }
                    }

                }
            }
        }
        .right-content{
            display: flex;
            flex-direction: column;
            gap: 16px;
            @include width650{
                width: 95%;
            }
            .user-input{
                height: 550px;
                width: 616px;
                @include width650{
                    width: auto;
                }
                .seperator{
                    height: 1px;
                    width: 100%;
                    background-color: #3DCFB6;
                }

                .user-content{
                    height: 131px;
                    width: 616px;
                    border-top: 1px solid #3DCFB6;
                    color: #FFFFFF;
                    padding-left: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 16px;
                    @include width650{
                        width: auto;
                        padding-left: 0;
                    }
                    h4{
                        font-size: 24px;
                        font-weight: 200;
                        line-height: 120%;
                        font-family: $font;
                        color: #3DCFB6;
                        @include width400{
                            font-size: 20px;
                        }
                    }

                    .your-name{
                        &.ng-invalid.ng-touched{
                            &::placeholder{
                                color: #C36868;
                            }
                        }

                        @include width400{
                            font-size: 16px;
                            font-weight: 200;
                        }

                    }
                    .your-mail{
                        &.ng-invalid.ng-touched{
                            &::placeholder{
                                color: #C36868;
                            }
                        }

                        @include width400{
                            font-size: 16px;
                            font-weight: 200;
                        }

                    }
                    .your-message{
                        &.ng-invalid.ng-touched{
                            &::placeholder{
                                color: #C36868;
                            }
                        }

                        @include width400{
                            font-size: 16px;
                            font-weight: 200;
                        }

                    }
                    input{
                        height: 32px;
                        width: 75%;
                        color: #FFFFFF;
                        font-size: 22px;
                        font-family: $Karla;
                        border: none;
                        background-color: #1C1C1C;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                        &:focus{
                            outline: none;
                        }
                        &.ng-invalid.ng-touched .ng-pristine{
                            color: #C36868;
                        }

                        @include width400{
                            font-size: 16px;
                            font-weight: 200;
                        }

                    }
                    span{
                        font-family: $Karla;
                        font-size: 14px;
                        font-weight: 200;
                        color: #C36868;
                    }
                    textarea{
                        height: auto;
                        width: 100%;
                        max-width: 100%;
                        max-height: 350px;
                        field-sizing: content;
                        border: none;
                        resize: none;
                        border: none;
                        color: #FFFFFF;
                        background-color: #1C1C1C;
                        font-size: 22px;
                        font-family: $Karla;
                        padding: 0;
                        margin-bottom: 8px;
                        overflow-wrap: break-word;
                        word-wrap: break-word;
                        word-break: break-all;
                    
                        &:focus{
                            //outline: none;
                            border-color: #3DCFB6;
                            outline-color: #3DCFB6;
                            outline-offset: 2px;
                        }
                        @include width400{
                            resize: none;
                            font-size: 16px;
                            font-weight: 200;
                            max-height: 60px;
                        }
                    }
                

                }
            
            }
            .submit-content{
                height: 117px;
                width: auto;//616px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                margin-top: 40px;
                p{
                    font-family: $Karla;
                    font-size: 14px;
                    color: #C36868;
                }
                .submit-wrapper{
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    width: auto;
                    .check{
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        //gap: 10px;
                        height: 26px;
                        width: 26px;
                        @include width400{

                        }
                        .input-check{
                            position: relative;
                            display: inline-block;
                            height: 26px;
                            width: 26px;
                            border: 4px solid #3DCFB6;
                            background-color: transparent;
                            border-radius: 2px;
                            box-sizing: border-box;
                            transition: box-shadow 0.2s ease-in-out, background-color 0.5s;
                            &:checked + .input-check{
                                border-color: #3DCFB6;

                            }
                            @include width400{
                                border: 1px solid #3DCFB6;
                                height: 18px;
                                width: 18px;
                            }


                        }
                        .checkbox{
                            position: absolute;
                            appearance: none;
                            opacity: 0;
                            height: 26px;
                            width: 26px;
                            top: 0;
                            left: 0;
                            margin: 0;
                            z-index: 10;
                            &:hover{
                                cursor: pointer;
                                background-color: #3DCFB6;
                            }
                        }
                        .checkbox:checked + .input-check:after{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            background-image: url(/assets/img/check-solid-full\ .svg);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                        }
                        &:hover{
                            cursor: pointer;
                        
                            .input-check{
                                box-shadow: 0 0 10px 1px rgba(113, 182, 170, 0.7);
                                background-color: #6da29978;
                            }
                        


                        }
                    }
                    p{
                        color: #FFFFFF;
                        font-size: 15px;
                        font-weight: 400;
                        font-family: $Karla;

                        a{
                            color: #3DCFB6;
                            text-decoration: none;
                            font-size: 15px;
                            font-family: $font;
                            font-weight: 400;
                            line-height: 120%;
                            letter-spacing: -3%;
                            &:hover{
                                color: #FFFFFF;
                                text-decoration: underline;
                                text-decoration-color: #3DCFB6;
                                text-underline-offset: 8px;
                            }
                        }
                        @include width400{
                            font-size: 16px;
                            font-weight: 200;

                        }

                    }
                }
            }
            .btn-wrapper{
                height: 48px;
                width: 616px;
                display: flex;
                justify-content: center;
                @include width650{
                    width: auto;
                }
                .btn{
                    height: 50px;
                    width: 139px;
                    border-radius: 100px;
                    color: #FFFFFF80 ;
                    overflow-x: hidden;
                    border: 1px solid #FFFFFF50 ;
                    background-color: #1C1C1C;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    


                    .btn-content-wrapper{
                        height: 100%;
                        width: min-content;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        transform: translateX(85px);
                        transition: transform 0.3s ease;
                        gap: 80px;

                        .btn-content{
                            height: 22px;
                            width: 91px;
                            white-space: nowrap;
                            font-size: 18px;
                            font-weight: 400;
                            letter-spacing: 120%;
                            font-family: $Karla;
                            p{
                                white-space: nowrap;
                            }
                            
                        }
                    }
                    &.is-enabled{
                        color: #FFFFFF ;
                        cursor: pointer;
                        border-color: #FFFFFF;
                        &:hover{

                            border-color: #3DCFB6;
                            .btn-content-wrapper{
                                animation: btn-spin 2s infinite linear;
                                .btn-content{
                                    color: #3DCFB6;

                                }
                            }

                        }
                    }
                }
                
                @keyframes btn-spin {
                    from {translate: 0;}
                    to {translate: -170px;}
                }  
            }
        }
    }
}