


    
<section class="technologies">
    <div class="radial-gradient"></div>
    <div class="skill-set-wrapper">
        <h3>Technologies</h3>
        <div class="skill-set-content">
            <div class="headline">
                <h1>Skill Set</h1>
            </div>
            
            <div class="skill-content">
                <div>
                    <p>I have a solid foundation in front-end development with HTML, CSS, JavaScript, TypeScript, Angular,
                        Firebase, and Material Design, complemented by knowledge of REST APIs, Git, 
                        and Scrum. I enjoy creating user-friendly, responsive interfaces and am
                         eager to keep learning of new tools to stay efficient in the fast-evolving
                         web environment.
                    </p>
                </div>
                <div class="another-skill">
                    <h3>You need <span>another skill?</span></h3>
                    <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
                </div>
                
                
            </div>
            <div class="btn-wrapper">
                <div class="lets-talk">Let's Talk</div>
            </div>
            

        </div>
    </div>
    <div class="skill-imgs-wrapper">
        @for (item of techStackImg; track item.titel; let index = $index) {
            @if(index === 10){
                <div [id]="index" 
                class="imgWrapper showOverlay" 
                (mouseover)="checkIndex(index)"
                (mouseout)="hideOverlay()">
                     <div class="overlay">
                        <app-tech-overlay *ngIf="showTechOverlay"></app-tech-overlay>
                    </div>
                    <div class="img" [style.--bg-image]="'url('+item.source+')'"></div>
                    <p class="titels">{{item.titel}}</p>
                    
                </div>
            }@else {
                <div [id]="index" 
                class="imgWrapper" 
                (mouseover)="checkIndex(index)"
                >
                    <div class="img" [style.--bg-image]="'url('+item.source+')'"></div>
                    <p class="titels">{{item.titel}}</p>
                </div>
            }
           
        }
       
    </div>
</section>

    
