$font: 'FiraCode';
$Karla: 'Karla';




    .technologies{
        height: 695px;
        width: 100%;
        background: radial-gradient(circle at -90% 80%, #08463B4D 30%, #1C1C1C 55%);
        //background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
    
        .skill-set-wrapper{
            height: 551px;
            width: 520px;
            //border: 1px solid white;
            display: flex;
            flex-direction: column;
            gap: 20px;
            z-index: 1;
        
            h3{
                color: #3DCFB6;
                font-size: 24px;
                font-family: $Karla;
            }
        
            .skill-set-content{
                height: 503px;
                width: 100%;
                border: 1px solid #3DCFB6;
                border-radius: 30px;
            }
        }
        
        .skill-imgs-wrapper{
            height: 428px;
            width: 632px;
            
            display: flex;
            flex-wrap: wrap;
            gap: 32px;

            .imgWrapper{
                height: 116px;
                width: 104px;
                color: #FFFFFF;
                border: 1px solid white;
                display: flex;
                justify-content: center;

            }
        }
    }