$breakpoint-1350: 1350px;
$breakpoint-1220: 1220px;
$breakpoint-650: 650px;
$breakpoint-600: 600px;
$breakpoint-550: 550px;
$breakpoint-400: 400px;
$breakpoint-360: 360px;
$breakpoint-Iphone14: 932px;
$breakpoint-IpadAir: 1180px;
$breakpoint-1600: 1600px;

@mixin width1600{
    @media (max-width: #{$breakpoint-1600}){@content} 
};
@mixin width1350{
    @media (max-width: #{$breakpoint-1350}){@content;}
}
@mixin width1220{
    @media (max-width: #{$breakpoint-1220}){@content} 
};
@mixin width650{
    @media (max-width: #{$breakpoint-650}){@content}
};
@mixin width600{
    @media (max-width: #{$breakpoint-600}){@content;}
}
@mixin width550{
    @media (max-width: #{$breakpoint-550}){@content}
};
@mixin width400{
    @media (max-width: #{$breakpoint-400}){@content;}
};
@mixin width360{
    @media (max-width: #{$breakpoint-360}){@content}
};
@mixin Iphone14{
    @media (max-height: #{$breakpoint-Iphone14}){@content}
};
@mixin IpadAir{
    @media (max-height: #{$breakpoint-IpadAir}){@content}
};


$font: 'FiraCode';
$Karla: 'Karla';


.skill-set-wrapper, .skill-imgs-wrapper {
    opacity: 0; 
    transition: opacity 0.5s ease; 
}

.skill-set-wrapper.visible {
    animation: slideInDown 1s ease-out forwards;
}

.skill-imgs-wrapper.visible {
    animation: slideInRight 1s ease-out forwards;
}
@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translateY(+100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.technologies{
    height: 695px;
    width: 100%;
    max-width: 1920px;
    //background: radial-gradient(circle at -90% 80%, #08463B4D 30%, #1C1C1C 55%);
    //background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    //gap: 80px;
    padding: 0 76px;
    //@include width1600{
    //    padding-right: 0;
    //}

    @include width1350{
        height: auto;
        flex-direction: column;
        gap: 40px;
    }
    @include width600{
        padding: 0 0;
    }
   
    

    .radial-gradient{
        position: absolute;
        margin-top: 50px;
        left: -200px ;
        border: 1px solid red;
        height: 553px;
        width: 75%;
        border-radius: 50%;
        filter: blur(35px);
        background: linear-gradient(to right, #08463b8c, #08463b61 50%, #08463b3b 80%, #08463b14);

        @include width1220{
            width: 400px
        }
    };
    

    .skill-set-wrapper{
        height: 551px;
        width: 520px;
        //border: 1px solid white;
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 1;

        @include width1350{
            
            padding-left: 8px;
            padding-right: 8px;
        }
        @include width550{
            width: 95%;
            height: 600px;
        }
    
        h3{
            color: #3DCFB6;
            font-size: 19px;
            font-family: $Karla;
        }
    
        .skill-set-content{
            height: 503px;
            width: 100%;
            padding-top: 20px;
            background-color: rgb(31, 46, 43);
            opacity: 0.9;
            border: 1px solid #3DCFB6;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;

            @include width650{
                gap: 32px;
                height: auto;
                padding: 20px;
            }
            //@include width360{
            //    height: auto;
            //}

            .headline{
                height: 64px;
                width: 80%;
                @include width360{
                    width: auto;
                }
                h1{
                    font-size: 64px;
                    color: #3DCFB6;
                    font-family: $font;

                    @include width650{
                        
                        font-size: 56px;
                    }
                    @include width550{
                        width: auto;
                        font-size: 38px !important;
                        letter-spacing: -2px;
                    }
                    @include IpadAir{
                        font-size: 56px;
                    }
                    
                }
                @include width650{
                    height: auto;
                }
            }
            .skill-content{
                height: 247px;
                width: 80%;
                font-size: 16px;
                font-family: $Karla;
                color: #FFFFFF;
                display: flex;
                flex-direction: column;
                gap: 32px;

                @include width650{
                    height: auto;
                    font-weight: 400;
                    font-size: 16px;
                }
                @include width400{
                    width: 100%;
                }
                .another-skill{

                    h3{
                        font-size: 19px;
                        padding-bottom: 10px;
                        color: #FFFFFF;
                        span{
                            color: #3DCFB6;
                        }
                    }
                }
            }
            .link-wrapper{
                height: 48px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 10%;

                @include width400{
                    padding-left: 0;
                }
            
                .link-as-btn{
                    text-decoration: none;
                    height: 48px;
                    width: 122px;
                    background: transparent;
                    border: 1px solid #ffffff;
                    border-radius: 100px;
                    padding-left: 5%;
                    overflow-x: hidden; 
                    display: flex;
                    justify-content: flex-start;
                    align-items: center; 

                    &:hover{
                        cursor: pointer;
                        border-color: #3DCFB6;
                        .btn-content-wrapper{
                            animation: btn-spin-one 3s infinite linear;
                            p{
                               color: #3DCFB6;
                            }
                        }
                    }

                    .btn-content-wrapper{
                    
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 172px;
                        
                        @include width550{
                            padding-left: 6%;
                        }

                        .btn-content{
                            font-family: $Karla;
                            color: #FFFFFF;
                            font-weight: 200;
                            font-size: 18px;
                            line-height: 120%;
                            flex-shrink: 0;
                            width: 74px;
                            p{
                                white-space: nowrap;
                                transition: color 0.3s ease;
                            }

                        }
                    }
                
                }
            }
            
        }
    }
    @keyframes btn-spin-one {
        from {transform: translateX(0);}
        to {transform: translateX(-245px);}
    } 
    .skill-imgs-wrapper{
        height: 428px;
        width: 632px;
        
        display: flex;
        flex-wrap: wrap;
        gap: 72px;

        @include width1350{
            height: auto;
            margin-bottom: 80px;
            justify-content: center;
            align-items: center;
            padding-left: 8px;
            padding-right: 8px;
            gap: 32px;
            z-index: 1;
        }
        @include width650{
            width: 95%;
        }
        @include width550{
            gap: 16px;
            margin-bottom: 0;
        }
        @include width360{
            padding-top: 30%;
        }

        .imgWrapper{
            height: 116px;
            width: 104px;
            color: #FFFFFF;
            //border: 1px solid white;
            display: flex;
            flex-direction: column;
            align-items: center;
            //justify-content: center;
            gap: 8px;

            .titels{
                //font-family: $font; muss noch angepasst werden 
                font-size: 18px;
                text-align: center;
                font-family: $font;
                font-weight: 200;
                
            }
            .img{
                height: 64px;
                width: 64px;
                background-image: var(--bg-image);
                background-position:center ;
                background-size: cover;
                transition: transform 1s;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                    transition: 1s;
                }
            }
        }
        .showOverlay{
            position: relative;
            margin-bottom: 50px;
            @include width650{
                margin-bottom: 0;
            }
        }
        .overlay{
            position: absolute;
            
            left: -3%;
            bottom: 45%;
            
            z-index: 1;
            margin-bottom: 30px;

            @include width1220{
                display: none;
            }
        }
    }
}