


    
<section class="technologies">
    <div class="radial-gradient"></div>
    <div class="skill-set-wrapper">
        <h3>{{'technologies.comp-headline'|translate}}</h3>
        <div class="skill-set-content">
            <div class="headline">
                <h1>{{'technologies.headline'|translate}}</h1>
            </div>
            
            <div class="skill-content">
                <div>
                    <p>{{'technologies.description'|translate}}</p>
                </div>
                <div class="another-skill">
                    <h3>{{'technologies.another-skill'|translate}} <span>{{'technologies.another-skill-2'|translate}}</span></h3>
                    <p>{{'technologies.description-2'|translate}}</p>
                </div>
                
                
            </div>
            <div class="link-wrapper">
                <a href="#contact" class="link-as-btn">
                  <div class="btn-content-wrapper">
                    <div class="btn-content"><p>{{'technologies.btn-content'|translate}}</p></div>
                    <div araia-hidden="true" class="btn-content"><p>{{'technologies.btn-content'|translate}}</p></div>
                  </div>

                </a>
            </div>
                
            <!--<div class="btn-wrapper">
                <div class="lets-talk">{{'technologies.btn-content'|translate}}</div>
            </div>-->
            

        </div>
    </div>
    <div class="skill-imgs-wrapper">
        @for (item of techStackImg; track item.titel; let index = $index) {
            @if(index === 10){
                <div [id]="index" 
                class="imgWrapper showOverlay" 
                (mouseover)="checkIndex(index)"
                (mouseout)="hideOverlay()">
                     <div class="overlay">
                        <app-tech-overlay *ngIf="showTechOverlay"></app-tech-overlay>
                    </div>
                    <div class="img" [style.--bg-image]="'url('+item.source+')'"></div>
                    <p class="titels">{{item.titel}}</p>
                    
                </div>
            }@else {
                <div [id]="index" 
                class="imgWrapper" 
                (mouseover)="checkIndex(index)"
                >
                    <div class="img" [style.--bg-image]="'url('+item.source+')'"></div>
                    <p class="titels">{{item.titel}}</p>
                </div>
            }
           
        }
       
    </div>
</section>

    
