$font: 'FiraCode';
$Karla: 'Karla';


.content-wrapper{
    height: auto;
    width: 100vw;
    background: linear-gradient(45deg, #1c1c1c 0% 35%, #08463b);
    

    .navbar-wrapper{
        height: 98px;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        //background: linear-gradient(to bottom, #000c, #0006, #00000038, #0000 75%);
        
        .navbar{
            background: linear-gradient(45deg, #1c1c1c 0% 35%, #08463b);
        }

    }
    .content{
        height: 1295px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        h1{
            font-size: 64px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0;
            font-family: $font;
            color: #3DCFB6;
        }

        .inner-content-wrapper {
            width: 1032px;
            //max-width: 1032px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            h3{
                font-size: 19px;
                font-weight: 700;
                font-family: $Karla;
                color: #FFFFFF;
            }
            ul{
                list-style-type: disc;
                list-style-position: inside;
                padding: 0%;
                margin: 0;
                li{
                    font-size: 16px;
                    font-weight: 400;
                    font-family: $Karla;
                    color: #3DCFB6;

                }
            }
            p{
                font-size: 16px;
                font-weight: 400;
                font-family: $Karla;
                color: #3DCFB6;

            }
            
        }

    }
}