$breakpoint-1080: 1080px;
$breakpoint-710: 710px;
//$breakpoint-650: 650px;


@mixin width1080{
    @media (max-width: #{$breakpoint-1080}){@content} 
};
@mixin width710{
    @media (max-width: #{$breakpoint-710}){@content}
};
//@mixin width650{
//    @media (max-width: #{$breakpoint-650}){@content}
//};


$font: 'FiraCode';
$Karla: 'Karla';


.content-wrapper{
    height: auto;
    //width: 100vw;
    background: linear-gradient(45deg, #1c1c1c 0% 35%, #08463b);
    

    .navbar-wrapper{
        height: 98px;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        //background: linear-gradient(to bottom, #000c, #0006, #00000038, #0000 75%);
        
        .navbar{
            background: linear-gradient(45deg, #1c1c1c 0% 35%, #08463b);
        }
        @include width710{
            padding-left: 16px;
            padding-right: 16px;
        }

    }
    .arrow{
        height: 40px;
        width: 40px;
        padding-left: 16px;
        display: none;
        margin-bottom: 30px;
        @include width710{
            display: block;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .content{
        height: 1295px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
        @include width1080{
            padding-left: 16px;
            padding-right: 16px;
            //width: 95%;
        }

        h1{
            font-size: 64px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0;
            font-family: $font;
            color: #3DCFB6;
            @include width710{
                color: #FFFFFF;
                font-size: 32px;
            }
        }

        .inner-content-wrapper {
            width: 100%;//
            max-width: 1032px;
            display: flex;
            flex-direction: column;
            gap: 16px;
           

            .flex-wrapper{
                
                width: 100%;
                max-width: 1032px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                @include width1080{
                    width: auto;
                    min-width: fit-content;
                    
                }

            }
            
            h3{
                font-size: 19px;
                font-weight: 700;
                font-family: $Karla;
                color: #FFFFFF;
            }
            ul{
                list-style-type: disc;
                list-style-position: inside;
                padding: 0%;
                margin: 0;
                li{
                    font-size: 16px;
                    font-weight: 400;
                    font-family: $Karla;
                    color: #3DCFB6;

                }
            }
            p{
                font-size: 16px;
                font-weight: 400;
                font-family: $Karla;
                color: #3DCFB6;

                span{
                    color: #FFFFFF;
                }
                a{
                    color: #FFFFFF;
                    &:hover{
                        color: #3DCFB6;
                        cursor: pointer;
                    }
                }

            }
            
        }

    }
}