$breakpoint-smartphoneQuer: 430px;
$breakpoint-IphoneSe: 667px;
$breakpoint-IphoneXR: 896px;
$breakpoint-Iphone12: 844px;
$breakpoint-Iphone14: 932px;

@mixin height667{
    @media (max-height: #{$breakpoint-IphoneSe}){@content}
};

@mixin height896{
    @media (max-height: #{$breakpoint-IphoneXR}){@content}
};

@mixin height844{
    @media (max-height: #{$breakpoint-Iphone12}){@content}
};
@mixin height932{
    @media (max-height: #{$breakpoint-Iphone14}){@content}
};
@mixin heightQuer{
    @media (max-height: #{$breakpoint-smartphoneQuer}){@content}
};

%section-base {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content-wrapper{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //max-width: 1920px;

    @include height896{
        overflow-x: hidden
    }
    @include height844{
        overflow-x: hidden
    }
   
    .landingpage{
        @extend %section-base;
        height: 100dvh;
        background: linear-gradient(60deg, #1C1C1C 20%, #08463B);
        
        
        @include height932{
            height: 100dvh
        }
        @include heightQuer{
            height: 135dvh;
        }
    }
    .about-me{
        @extend %section-base;
    }
    .technologies{
        @extend %section-base;
        background-color: #1C1C1C
    }
    .projects{
        @extend %section-base;
        background-color: #1C1C1C;
    }
    .others-about-me{ //hier weitermachen !
        @extend %section-base;
        background-color: #1C1C1C;
        height: auto
        
    }
    .contact-me{
        @extend %section-base;
        background-color: #1C1C1C;
    }
}