
$breakpoint-1220: 1220px;
$breakpoint-650: 650px;
$breakpoint-550: 550px;
$breakpoint-400: 400px;
$breakpoint-370: 370px;

$breakpoint-heightQuer: 430px;
$breakpoint-IphoneSe: 667px;
$breakpoint-GalaxyS8: 740px;

$breakpoint-IphoneXr: 896px;
$breakpoint-Iphone14: 932px;
$breakpoint-IpadMini: 1024px;
$breakpoint-1279: 1180px;
$breakpoint-IpadMiniQuer: 768px;



@mixin width1220{
    @media (max-width: #{$breakpoint-1220}){@content;}
}
@mixin width650{
    @media (max-width: #{$breakpoint-650}){@content;}
}
@mixin width550{
    @media (max-width: #{$breakpoint-550}){@content;}
}
@mixin width400{
    @media (max-width: #{$breakpoint-400}){@content;}
}
@mixin width370{
    @media (max-width: #{$breakpoint-370}){@content;}
}

@mixin heightQuer{
    @media (max-height: #{$breakpoint-heightQuer}){@content}
};
@mixin IphoneSE{
    @media (max-height: #{$breakpoint-IphoneSe}){@content}
};
@mixin GalaxyS8{
    @media (max-height: #{$breakpoint-GalaxyS8}){@content}
};
@mixin IphoneXr{
    @media (max-height: #{$breakpoint-IphoneXr}){@content}
};
@mixin Iphone14{
    @media (max-height: #{$breakpoint-Iphone14}){@content}
};

@mixin IpadMini{
    @media  (max-height: #{$breakpoint-IpadMini}){@content}
};
@mixin ZenbookFold{
    @media  (max-height: #{$breakpoint-1279}){@content;}
}
@mixin IpadMiniQuer{
    @media (max-height: #{$breakpoint-IpadMiniQuer}){@content}
};



$font: 'FiraCode';
$Karla: 'Karla';


.overlay-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
   
    
    //@include width1220{
    //    padding-left: 18px;
    //    padding-right: 18px;
    //}
   


    .content{
        max-height: min(90dvh, 656px);
        //height: 658px;
        width: 1248px;
        border-radius: 30px;
        padding-left: 50px;
        padding-right: 50px;
        border: 1px solid #3DCFB6;
        background: linear-gradient(60deg, #1C1C1C 20%, #08463B);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

       

        @include width1220{
            height: 844px;
            width: 366px;
            flex-direction: column-reverse;
            align-items: center;
            gap: 32px;
            padding-left: 5px;
            padding-right: 5px;
        }
        @include width370{
            width: 100%;
            overflow-y: scroll;
        }
        
        

        
        .right-content{
            height: 474px;
            width: 480px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            @include width1220{
                
                height: 560px;
                width: 366px;
                align-items: center;
            }
            @include width370{
                width: 100%;
                max-width: 342px;
                //gap: 10%;
            }
           

            .headlines{

                height: 175px;
                width: 480px;
                display: flex;
                flex-direction: column;
                gap: 24px;
                @include width1220{
                    height: 125px;
                    gap: 8px;
                    width: 342px;
                    //align-items: center;
                }
                @include width370{
                    height: auto;
                    width: 100%;
                   
                }
               

                h1{
                    font-size: 128px;
                    font-family: $Karla;
                    font-weight: 700;
                    letter-spacing: -2%;
                    line-height: 100px;
                    color: #3DCFB6;
                    @include width1220{
                        font-size: 72px;
                        line-height: 100%;
                       
                    }
                   
                }
                h2{
                    font-size: 64px;
                    font-family: $font;
                    font-weight: 700;
                    line-height: 80%;
                    letter-spacing: -3%;
                    color: #FFFFFF;
                    white-space: nowrap;
                    @include width1220{
                        font-size: 56px;
                    }
                  
                }
            }
            .description{
                height: 171px;
                width: 480px;
                display: flex;
                flex-direction: column;
                gap: 32px;
                @include width1220{
                    height: 169px;
                    gap: 20px;
                    width: 342px;
                }
                @include width370(){
                    width: 100%;
                   
                }
                h3{
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 120%;
                    font-family: $font;
                    color: #3DCFB6;
                    @include width1220{
                        font-size: 20px;
                    }
                   
                }
                p{
                    font-size: 18px;
                    font-weight: 400;
                    font-family: $Karla;
                    color: #FFFFFF;
                    line-height: 120%;
                    @include width1220{
                        font-size: 16px;
                        font-weight: 200;
                    }

                }
                .tech-stack{
                    height: 24px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 24px;

                    @include width1220{
                        height: 52px;
                        width: 342px;
                        flex-wrap: wrap;
                        gap: 16px;
                        height: auto;
                    }
                    

                    .tech-content{
                        height: 24px;
                        width: auto;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 4px;

                        p{
                            color: #FFFFFF;
                            font-size: 16px;
                        }
                        img{
                            height: 24px;
                            width: 24px;
                        }
                    }


                }
            }

            .forword{
                height: 48px;
                width: 304px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                @include width1220{
                    width: 342px;
                    height: 48;
                    gap: 32px;
                    justify-content: space-evenly;

                }
                
        

                a{
                    height: 100%;
                    width: 130px;
                    border-radius: 100px;
                    border: 1px solid #FFFFFF;
                    padding-left: 24px;
                    padding-right: 24px;
                    background-color: #1C1C1C;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;
                    text-decoration: none;
                    
                    p{
                        height: 22px;
                        width: auto;
                        color: #FFFFFF;
                        font-size: 18px;
                        font-family: $Karla;
                        font-weight: 200;
                        line-height: 120%;
                        letter-spacing: 0%;
                        white-space: nowrap;
                    }
                    img{
                        height: 10px;
                        width: 10px;
                    }
                    &:hover{
                        text-decoration: none;
                        border-color: #3DCFB6;
                        p{
                            color: #3DCFB6;
                        }
                        img{
                            transform: translateX(5px) translateY(-3px);
                            
                            transition: 0.3s;
                            
                        }
                    }  
                }
                  //
                //weiterer a tag 
            }
           
        }
       

        .left-content{
            height: 474px;
            width: 520px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-bottom: 60px;
            @include width1220{
                //width: 342px;
                width: 95%;
                height: 312px;
                margin-bottom: 0;
                padding-top: 15px;
                gap: 20px;
                align-items: center;
            }
            @include width370{
                width: 100%;
                max-width: 342px;
                height: auto;
                //padding-top: 0;
                //gap: 0;
            }
            

            .close-btn-wrapper{
                height:48px;
                width:100%;
                display:flex;
                justify-content: flex-end;
                
                
                button{
                    height: 48px;
                    width: 48px;
                    background-color: transparent;
                    border: 0;

                    .close-img{
                        height: 18px;
                        width: 18px;
                        background-image: url(/assets/img/close_small.svg);
                        background-position: center;
                        
                        &:hover{
                            cursor: pointer;
                            transform: scale(1.8);
                            transition: 0.5s;
                            color: #3DCFB6;
                            background-image: url(/assets/img/iconizer-close_small.svg);
                            background-position: center;
                            background-size: cover;

                        }
                    } 
                }
            }
        
            img{
                height: 369px;
                width: 100%;
                border-radius: 30px;
                @include width1220{
                    //width: 342px;
                    width: 100%;
                    height: 216px;
                }
              
            }
            .next-wrapper{
                height: 40px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                @include width1220{
                    height: 0;
                    
                }
               
                .next{
                    height: 40px;
                    width: 151px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 12px;
                    @include width1220{
                        position: relative;
                        top: 460px;
                        left: 1%;
                    }
                    
                    
                    p{
                        color: #3DCFB6;
                        font-size: 18px;
                        font-family: $Karla;
                        font-weight: 200;
                        line-height: 120%;
                        letter-spacing: 0%;
                    }

                    img{
                        height: 20px;
                        width: 20px;
                    }
                    &:hover{
                        cursor: pointer;
                        p{
                            color: #FFFFFF;
                        }
                        img{
                            transform: translateX(8px);
                            transition: 0.5s;
                        }
                    }
                }
            }
                
        }
       
    }
   

}
