
$breakpoint-1400: 1400px;
$breakpoint-1220: 1220px;
$breakpoint-1024: 1024px;
$breakpoint-650: 650px;
$breakpoint-550: 550px;
$breakpoint-400: 400px;
$breakpoint-370: 370px;

$breakpoint-heightQuer: 430px;
$breakpoint-notebook: 600px;
$breakponint-GalaxyS9:658px;
$breakpoint-IphoneSe: 667px;
$breakpoint-GalaxyS8: 740px;
$breakpoint-Iphone12: 844px;
$breakpoint-IphoneXr: 896px;
$breakpoint-Surface: 912px;
$breakpoint-Iphone14: 932px;

$breakpoint-IpadMini: 1024px;
$breakpoint-1279: 1180px;
$breakpoint-IpadPro: 1380px;//1366px;
$breakpoint-IpadQuer: 820px;
$breakpoint-surfaceDuo: 720px;


@mixin width1400{
    @media (max-width: #{$breakpoint-1400}){@content;}
}
@mixin width1220{
    @media (max-width: #{$breakpoint-1220}){@content;}
}
@mixin width1024{
    @media (max-width: #{$breakpoint-1024}){@content;}
}
@mixin width650{
    @media (max-width: #{$breakpoint-650}){@content;}
}
@mixin width550{
    @media (max-width: #{$breakpoint-550}){@content;}
}
@mixin width400{
    @media (max-width: #{$breakpoint-400}){@content;}
}
@mixin width370{
    @media (max-width: #{$breakpoint-370}){@content;}
}

@mixin heightQuer{
    @media (max-height: #{$breakpoint-heightQuer}){@content}
};
@mixin notebook{
    @media (max-height: #{$breakpoint-notebook}){@content}
};
@mixin GalaxyS9{
    @media (max-height: #{$breakponint-GalaxyS9}){@content}
};
@mixin IphoneSE{
    @media (max-height: #{$breakpoint-IphoneSe}){@content}
};
@mixin GalaxyS8{
    @media (max-height: #{$breakpoint-GalaxyS8}){@content}
};
@mixin IphoneXr{
    @media (max-height: #{$breakpoint-IphoneXr}){@content}
};
@mixin Iphone12{
    @media (max-height: #{$breakpoint-Iphone12}){@content}
};
@mixin Surface{
    @media (max-height: #{$breakpoint-Surface}){@content}
};
@mixin Iphone14{
    @media (max-height: #{$breakpoint-Iphone14}){@content}
};

@mixin IpadMini{
    @media  (max-height: #{$breakpoint-IpadMini}){@content}
};
@mixin ZenbookFold{
    @media  (max-height: #{$breakpoint-1279}){@content;}
}
@mixin IpadQuer{
    @media (max-height: #{$breakpoint-IpadQuer}){@content}
};
@mixin SurfaceDuo{
    @media (max-height: #{$breakpoint-surfaceDuo}){@content}
};
@mixin height1366{
    @media (max-height: #{$breakpoint-IpadPro}){@content}
};



$font: 'FiraCode';
$Karla: 'Karla';


.overlay-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    
    
   @include width370{
    padding-left: 8px;
    padding-right: 8px;
   }


    .content{
        //max-height: min(90dvh, 658px);
        height: 658px;
        overflow: auto;
        overscroll-behavior: contain;
        width: 1248px;
        border-radius: 30px;
        padding-left: 50px;
        padding-right: 50px;
        border: 1px solid #3DCFB6;
        background: linear-gradient(60deg, #1C1C1C 20%, #08463B);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        box-sizing: border-box;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
       

        @include width1220{
            height: 844px;
            width: 850px;
            //flex-direction: column-reverse;
            align-items: center;
            gap: 32px;
            padding-left: 5px;
            padding-right: 5px;
            overflow-x: hidden;
        }
        @include width1024{
            flex-direction: row !important;
        }
        @include width650{
            flex-direction: column-reverse !important;
        }
        @include width370{
            height: 653px !important;
            width: 95%;
            overflow-y: scroll;
        }
        @include height1366{
            height: 558px !important;
        }
       
        @include Iphone14{
            height: 700px !important;
            //flex-direction: column-reverse;
        }
       
        @include IpadQuer{
            height: 550px !important;
        }
        @include GalaxyS8{
            height: 650px !important;
        }
        @include IphoneSE{
            height: 600px !important;
        }
        @include notebook{
            height: 580px !important;
        }
        @include heightQuer{
            height: 90% !important;
            flex-direction: column-reverse !important;
            width: auto;
        }

        
        .right-content{
            height: 474px;
            width: 480px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            @include width1220{
                height: auto;
                //height: 560px;
                width: 100%;
                align-items: center;
                padding-left: 8px;
            }
            @include width650{
                margin-bottom: 100px;
            }
            @include width370{
                width: 100%;
                height: auto;
                max-width: 342px;
                margin-bottom: 80px;
                //gap: 10%;
            }
            @include Iphone14{
                margin-bottom: 0;
            }
            @include GalaxyS8{
                margin-bottom: 0;        
            }
            @include heightQuer{
                padding-left: 8px;
                padding-right: 8px;
            }
           

            .headlines{

                height: 175px;
                width: 480px;
                display: flex;
                flex-direction: column;
                gap: 24px;
                @include width1220{
                    height: 125px;
                    gap: 8px;
                    width: 342px;
                    //align-items: center;
                }
                @include width400{
                    height: auto;
                    width: 95%;
                   
                }
               

                h1{
                    font-size: 128px;
                    font-family: $Karla;
                    font-weight: 700;
                    letter-spacing: -2%;
                    line-height: 100px;
                    color: #3DCFB6;
                    @include width1220{
                        font-size: 72px;
                        line-height: 100%;
                       
                    }
                   
                }
                h2{
                    font-size: 64px;
                    font-family: $font;
                    font-weight: 700;
                    line-height: 80%;
                    letter-spacing: -3%;
                    color: #FFFFFF;
                    white-space: nowrap;
                    @include width1220{
                        font-size: 45px;
                        word-spacing: -20px;
                    }
                    @include width370{
                        font-size: 38px;
                    }
                    
                  
                }
            }
            .description{
                height: 171px;
                width: 480px;
                display: flex;
                flex-direction: column;
                gap: 32px;
                @include width1220{
                    height: 169px;
                    gap: 20px;
                    width: 342px;
                }
                @include width400{
                    width: 95%;
                   
                }
                h3{
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 120%;
                    font-family: $font;
                    color: #3DCFB6;
                    @include width1220{
                        font-size: 20px;
                    }
                   
                }
                p{
                    font-size: 18px;
                    font-weight: 400;
                    font-family: $Karla;
                    color: #FFFFFF;
                    line-height: 120%;
                    @include width1220{
                        font-size: 16px;
                        font-weight: 200;
                    }

                }
                .tech-stack{
                    height: 24px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 24px;

                    @include width1220{
                        height: 52px;
                        width: 342px;
                        flex-wrap: wrap;
                        gap: 16px;
                        height: auto;
                    }
                    @include width370{
                        width: 100%;
                    }
                    

                    .tech-content{
                        height: 24px;
                        width: auto;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 4px;

                        p{
                            color: #FFFFFF;
                            font-size: 16px;
                        }
                        img{
                            height: 24px;
                            width: 24px;
                        }
                    }


                }
            }

            .forword{
                height: 48px;
                width: 304px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                
                @include width1220{
                    width: 342px;
                    height: 48;
                    gap: 32px;
                    justify-content: space-evenly;
                    padding-top: 10%;

                }
               
                @include width400{
                    width: 95%;
                    //margin-top: 60px;
                    gap: 20px;
                    padding-top: 20%;
                }
                @include Iphone14{
                    margin-bottom: 90px;
                }
                @include GalaxyS8{
                    margin-bottom: 60px;
                    padding-top: 20%;
                }
                @include IphoneSE(){
                    margin-bottom: 75px;
                    padding-top: 20%;
                }
               
                
        

                a{
                    height: 48px;
                    width: 130px;
                    border-radius: 100px;
                    border: 1px solid #FFFFFF;
                    padding-left: 24px;
                    padding-right: 24px;
                    background-color: #1C1C1C;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;
                    text-decoration: none;

                    @include width370{
                        width: 110px;
                    }
                    
                    p{
                        height: 22px;
                        width: auto;
                        color: #FFFFFF;
                        font-size: 18px;
                        font-family: $Karla;
                        font-weight: 200;
                        line-height: 120%;
                        letter-spacing: 0%;
                        white-space: nowrap;
                    }
                    img{
                        height: 10px;
                        width: 10px;
                    }
                    &:hover{
                        text-decoration: none;
                        border-color: #3DCFB6;
                        p{
                            color: #3DCFB6;
                        }
                        img{
                            transform: translateX(5px) translateY(-3px);
                            
                            transition: 0.3s;
                            
                        }
                    }  
                }
                  //
                //weiterer a tag 
            }
           
        }
       

        .left-content{
            height: 474px;
            width: 520px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-bottom: 60px;
            @include width1220{
                //width: 342px;
                width: 95%;
                height: 312px;
                margin-bottom: 0;
                padding-top: 15px;
                gap: 20px;
                align-items: center;
            }
            @include width370{
                width: 100%;
                max-width: 342px;
                height: auto;
                //padding-top: 0;
                //gap: 0;
            }
            @include height1366(){
                height: 474px;
                padding-right: 8px;
            }
            
            @include Iphone14{
                padding-right: 0px !important;
            };
            
            @include IpadQuer{
                padding-right: 24px !important;
            }
            @include GalaxyS8{
                padding-right: 0 !important;
            }
            @include IphoneSE{
                padding-right: 0 !important;
            }
            @include notebook{
                padding-right: 24px !important;
            }
            @include heightQuer{
                padding-right: 0 !important;
            }
            

            .close-btn-wrapper{
                height:48px;
                width:100%;
                display:flex;
                justify-content: flex-end;
                
                //@include height1366{
                //    width: 95%;
                //}
                button{
                    height: 48px;
                    width: 48px;
                    background-color: transparent;
                    border: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .close-img{
                        height: 18px;
                        width: 18px;
                        background-image: url(/assets/img/close_small.svg);
                        background-position: center;
                        
                        &:hover{
                            cursor: pointer;
                            transform: scale(1.8);
                            transition: 0.5s;
                            color: #3DCFB6;
                            background-image: url(/assets/img/iconizer-close_small.svg);
                            background-position: center;
                            background-size: cover;

                        }
                    } 
                }
            }
        
            img{
                height: 369px;
                width: 100%;
                border-radius: 30px;
                @include width1220{
                    //width: 342px;
                    width: 100%t;
                    height: 216px;
                }
                @include width650{
                    height: 300px;
                    
                }
                @include width370{
                    width: 90% !important;
                    height: 216px !important;
                }
                @include height1366{
                    height: 300px;
                    width: 90%;
                }
                @include IphoneSE{
                    height: 216px !important;
                }
              
            }
            .next-wrapper{
                height: 40px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                @include width1220{
                    height: 0;
                    
                }
                @include width370{
                    width: 95%;
                }
               
                .next{
                    height: 40px;
                    width: 151px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;

                    @include width1220{
                        position: relative;
                        top: 30px;
                        left: 1%;
                    }
                    @include width1024{
                        //top: 100px !important;
                        top: 30px !important
                    }
                    @include width650{
                        top: 495px !important;
                        //left: -90px
                    }
                    
                    @include width370{
                        //top: 520px !important;
                        top: 475px !important;
                    }
                    //@include height1366{
                    //    top: 0 !important;
                    //}
                    @include Iphone12{
                        top: 490px !important;
                    }
                    @include IpadQuer{
                        top: 30px !important;
                    }
                    @include GalaxyS8{
                        top: 495px !important;
                        padding-bottom: 60px;
                    }
                    @include SurfaceDuo{
                        top: 100px !important;
                    }
                    @include IphoneSE{
                        padding-bottom: 0;
                        //top: 510px;
                        top: 495px !important;
                    }
                    @include GalaxyS9{
                        top: 475px !important;
                    }
                    @include notebook{
                        top: 100px !important;
                    }
                    @include heightQuer{
                        top: 495px !important;
                    }
                    
                    
                    p{
                        color: #3DCFB6;
                        font-size: 18px;
                        font-family: $Karla;
                        font-weight: 200;
                        line-height: 120%;
                        letter-spacing: 0%;
                    }

                    img{
                        height: 20px !important;
                        width: 20px !important;
                    }
                    &:hover{
                        cursor: pointer;
                        p{
                            color: #FFFFFF;
                        }
                        img{
                            transform: translateX(8px);
                            transition: 0.5s;
                        }
                    }
                }
            }
                
        }
       
    }
   

}
