

.overlay-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    


    .content{
        height: 658px;
        width: 1248px;
        border-radius: 30px;
        border: 1px solid red;
    }
}