/* You can add global styles to this file, and also import other style files */
$breakpoint-IphoneSe: 667px;
$breakpoint-IphoneXR: 896px;
$breakpoint-Iphone12: 844px;

@mixin height667{
    @media (max-height: #{$breakpoint-IphoneSe}){@content}
};

@mixin height896{
    @media (max-height: #{$breakpoint-IphoneXR}){@content}
};

@mixin height844{
    @media (max-height: #{$breakpoint-Iphone12}){@content}
};






*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

html,body{
    max-width: 100%;
    overflow-x: hidden;
    @include height896{
        overflow-x: hidden
    }
    @include height844{
        overflow-x: hidden
    }
}

@font-face {
    font-display: swap;
    font-family: 'FiraCode';
    font-style: normal;
    font-weight: 200;
    src: url('./../public/assets/fonts/FiraCode-Regular.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'FiraCode';
    font-style: medium;
    font-weight: 400;
    src: url('./../public/assets/fonts/FiraCode-Bold.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'FiraCode';
    font-style: normal;
    font-weight: 100;
    src: url('./../public/assets/fonts/FiraCode-Light.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('./../public/assets/fonts/Karla-Bold.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 200;
    src: url('./../public/assets/fonts/Karla-Regular.ttf');
}


.fontFiraCode {
    font-family: 'FiraCode';
}

.fontKarla{
    font-family: 'Karla';
}

.no-scroll{
    overflow-x: hidden;
    overflow-y: hidden;
}