$breakpoint-700: 700px;

@mixin width700{
    @media (max-width:#{$breakpoint-700}){@content}
};

$font: 'FiraCode';
$Karla: 'Karla';

.footer-wrapper{
    height: auto;
    width: 100%;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    
   
    @include width700{
        padding-left: 18px;
        padding-right: 18px;
        
    }
    .content{
        height: 126px;
        width: 100%;
        max-width: 1920px;
        margin-top: 90px;
        margin-bottom: 90px;
        display: flex;
        justify-content: space-around;

        .left-wrapper{
            height: 100%;
            width: 133px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;



            .initials{
                height: 48px;
                width: 132px;
                display: flex;
                align-items: center;
                gap: 8px;

                .span-wrapper{
                    display: flex;
                    flex-direction: column;
                    color: #3DCFB6;
                    font-family: $font;
                    font-size: 32px;
                    .first{
                        margin-bottom: -10px;
                    }
                    .second{
                        margin-top: -6px;
                    }

                }
                .full-name{
                    font-family: $font;
                    color: #FFFFFF;
                    font-size: 24px;
                    font-weight: 400;
                    gap: 0;

                    span{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: -5px;

                    }
                }
            }
            .sec-info{
                height: 46px;
                width: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p{
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 120%;
                    letter-spacing: 0%;
                    font-family: $Karla;

                }

            }
        }

        .middle-wrapper{
            height: 100%;
            width: auto;
            display: flex;
            align-items: center;
            p{
                color: #3DCFB6;
                font-size: 18px;
                font-family: $font;
                font-weight: 400;
                line-height: 120%;
            }
            @include width700{
                display: none;
            }

        }

        .right-wrapper{
            height: 100%;
            width: auto;
            display: flex;

            .linkbox{
                height: 100%;
                width: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 8px;

                .link{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 8px;
                    

                    
                    
                    .hover-wrapper{
                        
                        height: 100%;
                        width: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .footer-hover{
                            height: 6.4px;
                            width: 6.4px;
                            border-radius: 50%;
                            background-color: #3DCFB6;

                        }
                       
                       
                    }
                    .d-none{
                        display: none;
                    }
                
                    a{
                       display: block;
                        text-decoration: none;
                        color: #FFFFFF;
                        font-family: $Karla;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 120%;
                        letter-spacing: 0%;
                        &:hover{
                            cursor: pointer;
                            color: #3DCFB6;
                        } 
                    }
                    &:has(a:hover) .hover-wrapper .d-none{
                        display: block;
                    }  
                       
                }
                
            }
        }

    }
}